In [ ]:
# !pip3 install -U flask-cors
# !pip3 install flask
# !pip3 install pandas

# !python -m pip3 install -U flask-cors
# !pip3 install flask
# !pip3 install pandas

In [1]:
import pandas as pd
from flask import Flask
from flask import jsonify
from flask import request
# from flask import get_json
from flask_cors import CORS

In [2]:
df = pd.read_csv('database.csv')

In [3]:
new_header = df.iloc[0] 
df = df[1:]
df.columns = new_header
res = {}

In [4]:
df.head()

0  Year Time    Z31   Z121     Z141    Z231     Z251     Z351
1  1985    1   0.00  42.42  4495.84    0.00   -33.13     0.00
2  1986    2   4.05  63.35  4132.63   23.74   -98.73   240.15
3  1987    3  -5.89  -0.01  4280.63  -45.06  -223.84  -410.16
4  1988    4   0.26  54.69  4372.13   -2.71   -33.10    15.77
5  1989    5   4.76  43.80  4711.42   40.64    -7.90   338.55

In [ ]:
def calculateCalibrationValidation(f2_cal,f3_cal,f1_val,f2_val,f3_val):
    #f2_yield calibration
    if (f2_cal):
        f2_yield = 1545.24 + float(df.loc[f2_cal]['Z141']) * 0.3971 + float(df.loc[f2_cal]['Z351']) * 0.1693 + f2_cal * 50.53
        res["f2_yield_calib"] = round(f2_yield, 2)
       
    #f3_yield ... calibration
    if (f3_cal):
        f3_yield = 1406.01+ float(df.loc[f3_cal]['Z231']) * 0.685 + float(df.loc[f3_cal]['Z141']) * 0.353 + f3_cal * 50.11 
        res["f3_yield_calib"] =  round(f3_yield, 2)
    
    #fi_yield...validation
    if (f1_val):
        f1_yield = 2566.3 + float(df.loc[f1_val]['Z121']) * 2.525 + float(df.loc[f1_val]['Z31']) * 21.8 + f1_val * 47.43 
        res["f1_yield_valid"] = round(f1_yield, 2)
    
    #fi_yield...validation
    if (f2_val):
        f2_yield = 2327.93 + float(df.loc[f2_val]['Z231']) * 1.15 + float(df.loc[f2_val]['Z251']) * 0.45 + f2_val * 47.60
        res["f2_yield_valid"] =   round(f2_yield, 2)  
    
    #fi_yield...validation
    if (f3_val):
        f3_yield = 2163.26 + float(df.loc[f3_val]['Z141']) * 0.25 + float(df.loc[f3_val]['Z351']) * 0.16+ f3_val * 48.11
        res["f3_yield_valid"] =     round(f3_yield, 2)
    
    print("result is :" , res)
    return res

app = Flask(__name__)
CORS(app)
@app.route('/calc',methods=['POST'])
def createEmp():   
    f2_cal = request.json['f2_cal']
    f3_cal = request.json['f3_cal']
    f1_val = request.json['f1_val']
    f2_val = request.json['f2_val']
    f3_val = request.json['f3_val']
    result = calculateCalibrationValidation(f2_cal,f3_cal,f1_val,f2_val,f3_val)
    return result
if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [ ]:
# [f2_cal,f3_cal,f1_val,f2_val,f3_val] = int(input()),int(input()),int(input()),int(input()),int(input())
# result = calculateCalibrationValidation(f2_cal,f3_cal,f1_val,f2_val,f3_val)
# print(result)